<html>
<head>
    <title></title>
</head>
<body>
    <p>
        <h1> {{ projectName }}</h1>
        <h2>{{ title }}</h2>
        {{ content }}
    </p>

    {% if View2 %}
    <!--Button for froms-->
    <form method="post">
        {%csrf_token%}
        {{ form.as_p}} <!-- Renders form fields inside <p> tags -->
        <button type="submit">Save</button>
    </form>

    <!-- display error -->
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li> {{ error }} </li>
        {% endfor %}
    </ul>
    {% endif %}



    <!--Display Feilds-->
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Uinfo </th>
                <th> Semester </th>

            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td> {{course.pk}} </td>
                <td> {{ course.name }} </td>
                <td> {{ course.unitInformation }}   </td>
                <td> (Semester {{ course.semester1 }})  </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}



</body>
</html>

