<html>
<head>
    <title></title>
</head>
<body>
    <p>
        <h1> {{ projectName }}</h1>
        <h2>{{ title }}</h2>
        {{ content }}
    </p>
    <!--Loop through schools-->
    {% for school in schools %}
    <h2>{{ school.name }}</h2>
    <!--Loop through courses in schools-->
    <ul>
        {% for course in school.courses.all %}
        <li>{{ course.achievementStandards }}</li>
        {% empty %}
        <li>No courses</li>
        {% endfor %}
    </ul>
    {% endfor %}



</body>
</html>

