<html>
<head>
    <title></title>
</head>
<body>
    <p>
        <h1> {{ projectName }}</h1>
        <h2>{{ title }}</h2>
        {{ content }}
    </p>

    <form method="post">
        {%csrf_token%}
        {{ form.as_p}} <!-- Renders form fields inside <p> tags -->
        <button type="submit">Save</button>
    </form>


    <ul>
        {% for school in schools %}
        <li>
            {{ school.name }}
            <ul>
                {% for course in school.courses.all %}
                <li>{{ course.name }} - {{ course.unitInformation }} (Semester {{ course.semester1 }})</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</body>
</html>

